@tailwind base;
@tailwind components;
@tailwind utilities;

.pageTitle {
  @apply text-3xl font-bold text-center mb-7;
}

.flexCol {
  @apply flex flex-col;
}

.input {
  @apply border border-gray-300 rounded-lg bg-gray-100 py-1 px-3 focus:outline-blue-400;
}

.btn {
  @apply px-4 py-1 border rounded-full hover:scale-105;
}

.btn-amber {
  @apply border-none text-white bg-amber-500 hover:bg-amber-600;
}

.btn-red {
  @apply border-none text-white bg-red-500 hover:bg-red-600;
}
